---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h3 class="text-5xl text-white font-extrabold">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus tenetur
    magnam incidunt dolorum doloribus perferendis nam voluptate quam,
    dignissimos aliquid laborum, corporis expedita molestiae iste accusamus
    voluptatem consequatur quisquam consequuntur.u orem ipsum dolor sit amet
    consectetur adipisicing elit. Repellendus tenetur magnam incidunt dolorum
    doloribus perferendis nam voluptate quam, dignissimos aliquid laborum,
    corporis expedita molestiae iste accusamus voluptatem consequatur quisquam
    consequuntur.u orem ipsum dolor sit amet consectetur adipisicing elit.
    Repellendus tenetur magnam incidunt dolorum doloribus perferendis nam
    voluptate quam, dignissimos aliquid laborum, corporis expedita molestiae
    iste accusamus voluptatem consequatur quisquam consequuntur.u orem ipsum
    dolor sit amet consectetur adipisicing elit. Repellendus tenetur magnam
    incidunt dolorum doloribus perferendis nam voluptate quam, dignissimos
    aliquid laborum, corporis expedita molestiae iste accusamus voluptatem
    consequatur quisquam consequuntur.u orem ipsum dolor sit amet consectetur
    adipisicing elit. Repellendus tenetur magnam incidunt dolorum doloribus
    perferendis nam voluptate quam, dignissimos aliquid laborum, corporis
    expedita molestiae iste accusamus voluptatem consequatur quisquam
    consequuntur.u orem ipsum dolor sit amet consectetur adipisicing elit.
    Repellendus tenetur magnam incidunt dolorum doloribus perferendis nam
    voluptate quam, dignissimos aliquid laborum, corporis expedita molestiae
    iste accusamus voluptatem consequatur quisquam consequuntur.u orem ipsum
    dolor sit amet consectetur adipisicing elit. Repellendus tenetur magnam
    incidunt dolorum doloribus perferendis nam voluptate quam, dignissimos
    aliquid laborum, corporis expedita molestiae iste accusamus voluptatem
    consequatur quisquam consequuntur.u orem ipsum dolor sit amet consectetur
    adipisicing elit. Repellendus tenetur magnam incidunt dolorum doloribus
    perferendis nam voluptate quam, dignissimos aliquid laborum, corporis
    expedita molestiae iste accusamus voluptatem consequatur quisquam
    consequuntur.u orem ipsum dolor sit amet consectetur adipisicing elit.
    Repellendus tenetur magnam incidunt dolorum doloribus perferendis nam
    voluptate quam, dignissimos aliquid laborum, corporis expedita molestiae
    iste accusamus voluptatem consequatur quisquam consequuntur.u orem ipsum
    dolor sit amet consectetur adipisicing elit. Repellendus tenetur magnam
    incidunt dolorum doloribus perferendis nam voluptate quam, dignissimos
    aliquid laborum, corporis expedita molestiae iste accusamus voluptatem
    consequatur quisquam consequuntur.u orem ipsum dolor sit amet consectetur
    adipisicing elit. Repellendus tenetur magnam incidunt dolorum doloribus
    perferendis nam voluptate quam, dignissimos aliquid laborum, corporis
    expedita molestiae iste accusamus voluptatem consequatur quisquam
    consequuntur.u orem ipsum dolor sit amet consectetur adipisicing elit.
    Repellendus tenetur magnam incidunt dolorum doloribus perferendis nam
    voluptate quam, dignissimos aliquid laborum, corporis expedita molestiae
    iste accusamus voluptatem consequatur quisquam consequuntur.u orem ipsum
    dolor sit amet consectetur adipisicing elit. Repellendus tenetur magnam
    incidunt dolorum doloribus perferendis nam voluptate quam, dignissimos
    aliquid laborum, corporis expedita molestiae iste accusamus voluptatem
    consequatur quisquam consequuntur.u
  </h3>
</Layout>
