---
import Logo from "@assets/logo-smartpages.png";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<header
  class="backdrop-blur-md z-50 top-0 sticky py-3 px-2 shadow-md md:h-25 box-content"
>
  <nav
    aria-label="Global"
    class="sm:flex sm:justify-between sm:px-4 min-h-full max-w-screen items-center text-white text-xs sm:text-2xl md:text-3xl"
  >
    <section id="menu-button" class="flex justify-between items-center">
      <Image
        class="size-20 sm:size-25 rounded-full aspect-square"
        src={Logo}
        alt="SmartPages Logo"
      />
      <button class="cursor-pointer sm:hidden">
        <Icon class="text-white size-8" name="mdi:format-list-bulleted" />
      </button>
    </section>
    <div
      id="menu"
      class="hidden sm:flex flex-col sm:flex-row items-center text-center gap-2 text-lg font-bold sm:text-xl sm:gap-4 md:text-2xl md:gap-6 lg:text-3xl"
    >
      <a class="transition-colors hover:text-gray-200" href="#"> Services </a>
      <a class="transition-colors hover:text-gray-200" href="#"> Projects </a>
      <a
        class="transition-colors hover:text-gray-200 whitespace-nowrap"
        href="#"
      >
        About Us
      </a>
      <a class="transition-colors hover:text-gray-200" href="#"> Contact </a>
    </div>
  </nav>
  <script is:inline>
    document
      .getElementById("menu-button")
      .addEventListener("click", function () {
        const menu = document.getElementById("menu");
        menu.classList.toggle("hidden");
        menu.classList.toggle("flex");
      });
  </script>
</header>
