---
import Logo from "@assets/logo-smartpages.png";
---

<header class="mt-3">
    <div
        class="mx-auto flex h-22 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8"
    >
        <a class="" href="#">
            <img
                class="size-20 rounded-full aspect-square"
                src={Logo.src}
                alt="SmartPages Logo"
            />
        </a>

        <div class="flex flex-1 items-center justify-end">
            <nav aria-label="Global" class="">
                <ul class="flex items-center gap-6 text-sm">
                    <li>
                        <a
                            class="text-gray-500 text-xl transition hover:text-gray-500/75"
                            href="#"
                        >
                            Services
                        </a>
                    </li>

                    <li>
                        <a
                            class="text-gray-500 text-xl transition hover:text-gray-500/75"
                            href="#"
                        >
                            Projects
                        </a>
                    </li>

                    <li>
                        <a
                            class="text-gray-500 text-xl transition hover:text-gray-500/75"
                            href="#"
                        >
                            About Us
                        </a>
                    </li>
                    <li>
                        <a
                            class="text-gray-500 text-xl transition hover:text-gray-500/75"
                            href="#"
                        >
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
